body {
    background: #d3e471 url(https://blog.hdwallsource.com/wp-content/uploads/2016/02/patrick-star-15633-16111-hd-wallpapers.jpg); 
    background-size: 1530px auto;
     color: 	#000000;
    }
    h1, h2 { 
        text-align: center 
    }
    #header{
        
        width: 100%;
        height: 100px;    
        background-color: #16033f;  
        margin:0 auto;
        float:center;
    }
    .VV{
        width:980px;
        margin:0 auto;
    }

    
    #img1{ 
         width:100px;
         padding-top:10px;
         margin:0 auto;
         height:80px;
         float:left;
        }

        .text0{
            float:left;
            padding:10px; 
            color: #ffee00;  
            font-style: italic;  
            font-size:30px;  
        }
    .text1{
        padding:10px; 
        color: #ffee00;  
        font-style: italic;  
        font-size:30px;  
    }
    .content{
        max-width:960px; 
        margin: 0 auto; 
        margin-top:20px; 
        padding:10px;
    }
    #navig{
        max-width:960px; 
        background-color: #16033f; 
        margin: 0 auto; 
        margin-top:20px; 
        padding:10px; 
        text-align: center;
    }
    table tr:nth-child(2n) td{ background: #f5d19b; }
    table tr:nth-child(2n+1) td{ background:#16033f; }
    footer{
        
        width: 100%;
        height: 40px;    
        background-color: #16033f;  
        margin:0 auto;
    }
    #end{
        padding:10px; 
        color: #ffee00;  
        font-style: italic;  
        font-size:20px;
        text-align: center;  
    }


